






.servics-section {
  background-color: black;
  color: rgb(255, 255, 255);
}
.service-title {
  color: white;
  font-size: 3rem;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .first-hero-text {
      text-align: center; /* Center text */
      padding: 10px; /* Reduce padding */
  }
  .first-hero-img {
      padding-top: 50px; /* Reduce top padding */
  }
  .service-title {
      font-size: 2rem; /* Smaller font size */
  }
  .card-body {
      padding: 3rem 1rem; /* Adjust padding for cards */
  }
}
#second-cont{
  border-radius: 150px;
}





.product_heading{
 text-align: center;
 font-size: 3.5rem;
 background-color: black;
 color: white;
 padding-bottom: 30px;
}
.product-section{
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
}


.second-hero-img{
  color: white;
  padding-top: 10px;
}

.second-hero-img h1{
  font-size: 5rem;
  color: rgb(205, 104, 33);
}

.second-hero-img p{
  font-size: 1.5rem;
}

.second-hero{
  padding-top: 90px;
  background-color: black;
  padding-bottom: 130px;
}



.photo-section{
  background-color: black;
}
.card{
  border-radius: 10px;
}
.card-img-top{
  border-radius: 10px;
}

#photo-section-title{
  padding-top: 50px;
  font-size: 4rem;
  color: white;
  padding-bottom: 50px;
}


/* Regsiter Form css ############################################################################################################ */




